.container{
  border: 2px solid black;
  text-align: center;
  width :30%;
  margin: auto;
  background-color: #085964;
  color: white;
  box-shadow: 6px 6px 10px rgb(117, 95, 95), -6px -6px 10px rgb(209, 189, 189);
  margin-top: 100px;
  border-radius: 40px;
}
.heading{
  color: rgb(255, 255, 255);
  text-shadow: 12px 12px 8px #000000;
}
input{
  border: 2px solid rgb(7, 6, 6);
  
  box-shadow: 3px 3px 10px black,-3px -3px 10px grey;
  border-radius: 35px;
}
.footer{
    color: rgb(255, 255, 255);
    text-shadow: 7px 7px 5px #000000;
}
.text{
  text-shadow: 7px 7px 5px #000000;
}